body {
    background-image: url("../images/background2.jpg");
    background-size: 1358px 942px;
}
a {
    text-decoration: none;
    color: black;
}
.content {
    margin: 2rem;
}
.navbar {
    display: flex;
    flex-direction: row;
    font-family: 'Oswald', sans-serif;
}
.navbar-items-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
}
.navbar-item {
    margin-right: 2rem;
}
.avatar {
    width: 10rem;
    border-radius: 50%;
}
.soc-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
}
.soc-media-logo {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}
.video {
    display: flex;
    justify-content: center;
}
.about {
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    border: 5px, solid, white;
    margin: 4rem 0 4rem;
}
.map {
    display: flex;
    justify-content: center;
    border: 5px, solid, white;

}
.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.button {
    font-family: 'Oswald', sans-serif;
    margin-right: 1rem;
}